body {
    background-color: hsl(0,0%,95%);
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

a {
    color: darkcyan;
}

section.overview {
    padding: 1.5rem;
    margin: auto;
    max-width: 1600px;
}

section.full-project {
    border: dashed 3px rgba(0, 139, 139, 0.25);
    border-radius: 60px 0px;
    background-color: rgba(127, 255, 212, 0.15);
    padding: 1.5rem;
    margin: auto;
    max-width: 1600px;
}

.card {
    border: dashed 3px rgba(0, 139, 139, 0.25);
    border-radius: 60px 0px;
    background-color: rgba(127, 255, 212, 0.15);
    padding: 1.5rem;
    margin: auto;
}

div.navigation-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav {
    background-color: rgba(128,128,128,0.2);
    /* background-color: rgba(255, 255, 255, 0.5); */
}

.nav-link {
    color: lightgrey;
    padding-left: .75rem;
    padding-right: 2.5rem;
    text-align: left;
    background-color: darkslategrey;
}

@media screen and (max-width: 450px) {
    .nav-link {
        padding-right: .75rem;
    }
}

.nav-link.active {
    color: white;
    background-color: darkcyan;
    padding-right: 1rem;
}

.nav-link:active {
    background-color: aquamarine;
}

.btn-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-secondary:hover {
    background-color: darkcyan;
}

/* .nav-link.disabled {
    color: white;
    background-color: rgba(128,128,128,0);
} */

.nav-link:hover:not(.nav-link.active) {
    color: darkcyan;
    background-color: rgb(43, 61, 61);
}

.hero-img {
    display: inline-block;
    margin: auto;
    max-width: 100%;
    padding: 1rem;
    border-radius: 30% 0%;
}

.project-img-full {
    display: inline-block;
    margin: auto;
    max-width: 100%;
    padding: 1rem;
    border-radius: 60px 0px;
}

/* grid spacing and column formmatting */
.col-md-12 {
    text-align: left;
    padding: .25rem;
    margin: auto;
}

.col-lg-6 {
    text-align: left;
    padding: 1rem;
    margin: auto;
}

.col-md-6 {
    text-align: left;
    padding: 1rem;
    margin: auto;
}

.col-sm-6 {
    text-align: left;
    padding: .25rem;
    margin: auto;
}

.col-lg-7 {
    text-align: left;
    padding: 1rem;
    margin: auto;
}
.col-md-7 {
    text-align: left;
    padding: 1rem;
    margin: auto;
}


/* for testing grid spacing only
.row.sm-3 {
    border: 3px solid darkcyan;
}

.col-lg-4 {
    border: 1px solid red;
}


.col-md-4 {
    border: 1px solid red;
}
*/


